{% extends './base.html.twig' %}
{% block navTitle %}Profil page{% endblock %}
{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    You can add a post here too !
    you see:
    <a type="button" class="btn btn-primary" href="{{ path('app_post_add') }}">Add a post</a>
</div>
{% endblock %}
